#guitar-view-driver {
	display: inline-block;
	width: 50%;
	text-align: center;
	vertical-align: middle;
}

.wood {
	background-color: burlywood;
	color: black;
}

.guitar {
	padding: 20px;
	display: block;
	font-size: 12px;
}

.guitar-string {
	width: 100%;
}

.guitar-fret {
	display: inline-block;
	font-weight: bold;
	height: 20px;
	width: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	vertical-align: top;
}

.guitar-fret:hover {
	cursor: pointer;
}

.guitar-fret-open {
	border-right: 3px solid grey;
}

.guitar-fret-active {
	background-color: red;
}

.guitar-fret:hover {
	background-color: darkgray !important;
}