#guitar-view-driver {
	text-align: center;
	vertical-align: middle;
}

.guitar {
	margin: 20px;
    font-size: 12px;
    display: inline-block;
    border-top: 1px solid saddlebrown;
    border-bottom: 1px solid saddlebrown
}

.guitar-string {
	width: 100%;
	height: 20px;
	position: relative;
}

.guitar-fret {
	display: inline-block;
	position: relative;
	height: 20px;
	width: 30px;
	border-right: 2px solid darkgrey;
}

.guitar-fret:hover {
	cursor: pointer;
	background-color: grey !important;
}

.guitar-fret-open {
	border-right: 3px solid grey;
}

.guitar-fret-label {
	display: inline-block;
    z-index: 10;
    position: absolute;
    left: 1px;
    top: 1px;
    height: 18px;
    line-height: 18px;
	width: 28px;
	border-radius: 5px;
}

.guitar-fret-label:hover {
	background-color: grey !important;
}

.guitar-fret-string {
	position: absolute;
    top: 10px;
    left: 0px;
    height: 1px;
    background-color: grey;
    width: 100%;
}

.guitar-fret-dots {
	position: absolute;
    width: 30px;
    height: 20px;
	top: 20px;
	color: grey;
}

/* Colors */

.wood {
	background-color: burlywood;
	color: black;
}