.view-manager {
    background-color: #EEEEEE;
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 100px;
}

.viewer {
    text-align: center;
    position: relative;
}

/* Header */

.viewer-header {
    margin-top: 5px;
    height: 25px;
    padding: 10px;
    position: relative;
}

.viewer-header-title {
    font-weight: bold;
    color: #777;
    display: inline-block;
}

.viewer-header .corner-button {
    background-color: white;
    color: #777;
    border: 1px solid #777;
    margin-left: 5px;
    float: right;
}

.viewer-header .corner-button:hover {
    background-color: #FF5A09;
    color: white;
    cursor: pointer;
}

/* Body */

.viewer-body-wrapper {
    margin-bottom: 5px;
}

.viewer-body {
    padding: 10px;
}


/* Selector */

.viewer-selector {
    text-align: center;
    background-color: #BBB;
    color: white;
    margin-top: 5px;
    font-size: 14px;
    min-height: 10px;
    cursor: pointer;
}

.viewer-selector span {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
}














#main {
	position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}


/* Common UI Styles */

.corner-button {
	font-size: 15px;
    line-height: 15px;
    padding: 5px;
    height: 15px;
    width: 15px;
    color: #EEEEEE;
}

.corner-button:hover {
    background-color: #FF5A09;
    cursor: pointer;
}

.left {
	position: absolute;
	left: 10px
}

.right {
	position: absolute;
	right: 50px
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }



  .toolbar {
	background-color: #444;
    text-align: center;
    height: 50px;
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 100;
    box-shadow: 2px 2px 5px #888;
}