.dropdown-selector {
    margin: 2px;
    text-align: left;
    display: inline-block;
}

.dropdown-selector select {
    width: 100px;
}

.switch-selector {
    margin: 2px;
    text-align: left;
    display: inline-block;
}

.switch-selector-label {
    font-size: 14px;
    line-height: 25px;
    margin-right: 4px;
    display: inline-block;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 100px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Range */

.range-selector {
	display: inline-block;
	height: 60px;
	width: 40px;
	position: relative;
}

.range-selector .low {
  position: absolute;
  left: 0px
}

.range-selector .high {
  position: absolute;
  left: 20px
}

.range-selector .both {
  position: absolute;
  left: 40px
}

.range-button {
	height: 20px;
	width: 20px;
	line-height: 20px;
	font-size: 18px;
	visibility: hidden;
	position: absolute;
	background-color: #DDD;
	color: black;
	z-index: 20;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.range-button:hover {
	color: #FF5A09;
	cursor: pointer;
}

.range-button.name {
	color: black;
	cursor: auto;
	visibility: visible;
	font-weight: normal;
	top: 20px;
  font-size: 12px;
}

.range-button.up {
	top: 0px;
}

.range-button.down {
	top: 40px;
}

.range-selector:hover .range-button {
	visibility: visible;
}