.settings-panel {
    padding: 10px;
    margin: 10px;
    display: block;
}

.setting-manager {
    margin: 2px;
    display: block;
}

#top-bar {
    background-color: #2B4C5F;
    padding: 10px;
    text-align: center;
}

#top-bar-key {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#top-bar-concept {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#top-bar-bottom {
    text-align: center;
    vertical-align: top;
}