.settings-panel {
    padding: 10px;
    margin: 10px;
    display: block;
}

.settings-subpanel {
    background-color: #2B4C5F;
    color: white;
    padding: 10px;
    margin: 10px;
    display: block;
}