.settings-select {
    color: white;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    border: 1px solid white;
}

.settings-select-label {
    display: block;
    padding: 2px;
    padding-top: 5px;
}

.settings-select-option {
    display: inline-block;
    background-color: #CC625F;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    line-height: 40px;
    height: 40px;
    min-width: 40px;
}

.settings-select-option:hover {
    background-color: #BB514E;
    cursor: pointer;
}

.active-setting {
    border: 2px solid #EA9C1F;
}