

.numeric-selector {
  height: 20px;
  display: inline-block;
  text-align: center;
}

.numeric-selector .up, .numeric-selector .down {
  background-color: #999;
}

.numeric-selector .up:hover, .numeric-selector .down:hover {
  background-color: #888;
}

.numeric-selector .up {
  border-radius: 0 5px 5px 0;
}

.numeric-selector .down {
  border-radius: 5px 0 0 5px;
}