.input-panel {
    text-align: center;
    display: inline-grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto auto;
    color: #444;
}

.input-row-label {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    line-height: 20px;
    height: 20px;
    vertical-align: top;
}

.input-column-label {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
}

.input-row-toggle {
    width: 60px;
    border-radius: 5px;
}

.input-row-config-panel {
    grid-column: 2 / span 3;
}