/* Guitar */

.guitar {
	margin: 20px;
    font-size: 12px;
    display: inline-block;
    border-top: 1px solid saddlebrown;
	border-bottom: 1px solid saddlebrown;
	box-shadow: 2px 2px 5px #888888;
}

/* GuitarString */

.guitar-string {
	width: 100%;
	height: 20px;
	position: relative;
}

/* GuitarFret */

.guitar-fret {
	display: inline-block;
	position: relative;
	height: 20px;
	width: 30px;
	border-right: 2px solid darkgrey;
}

.guitar-fret:hover {
	cursor: pointer;
	background-color: grey !important;
}

.guitar-fret-open {
	border-right: 3px solid grey;
}

.guitar-fret-label {
	display: inline-block;
    z-index: 10;
    position: absolute;
    left: 1px;
    top: 1px;
    height: 18px;
    line-height: 18px;
	width: 28px;
	border-radius: 5px;
}

.guitar-fret-label:hover {
	background-color: grey !important;
}

.guitar-fret-string {
	position: absolute;
    top: 10px;
    left: 0px;
    height: 1px;
    background-color: grey;
    width: 100%;
}

.guitar-fret-dots {
    width: 30px;
	color: grey;
	display: inline-block;
	margin: 1px;
	font-size: 16px;
}

/* Colors */

.wood {
	background-color: burlywood;
	color: black;
}

/* Tuner */

.string-controls-container {
	font-size: 12px;
	line-height: 60px;
	height: 100px;
	vertical-align: middle;
	display: inline-block;
	margin: 10px;
	background-color: #DDD;
    padding: 5px;
    border-radius: 10px;
}

.fret-controls-container {
	font-size: 16px;
	vertical-align: middle;
	display: inline-block;
	margin: 10px;
	background-color: #DDD;
    padding: 5px;
    border-radius: 10px;
}

.tuner {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	position: relative;
}

.tuner-control {
	width: 20px;
	cursor: pointer;
	display: none;
	position: absolute;
	left: 0px;
}

.tuner-control.up {
	bottom: 20px;
}

.tuner-control.down {
	top: 20px;
}

.tuner-control.remove {
	top: 40px;
}

.tuner:hover .tuner-control {
	display: inline-block;
}

.tuner-control:hover {
	font-weight: bold;
}

.tuner-label {
	display: inline-block;
    width: 20px;
    background: grey;
    color: white;
    border-radius: 100px;
    height: 20px;
}

.string-button {
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: none;
}

.string-controls-container:hover .string-button {
	display: inline-block
}


.string-controls-header {
	font-size: 16px;
	line-height: 20px;
	height: 20px;
}