* {
	text-align: center;
	font: 15px arial, sans-serif;
}

html {
	background-color: #e6f7ff
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

select {
    color: black;
	background-color: white;
    padding: 5px;
	margin: 5px;
    border: 1px solid black;
	vertical-align: middle;
}

#degree {
	width: 100px;
}

#accidental {
	width: 100px;
}

#concept {
	width: 200px;
}

#chord {
	width: 200px;
}

#mode {
	width: 200px;
}

button {
	color: white;
	background-color: #339966;
    padding: 5px;
	margin: 5px;
    width: 100px;
    border: 1px solid black;
	vertical-align: middle;
}

#notesContainer {
	padding: 15px;
}

.note {
	padding: 10px;
	font-size: 20px;
}

.piano {
	height: 100%;
	padding: 25px;
}

.piano-key {
	display: inline-block;
	vertical-align: top;
}

.white-key {
	background-color: white;
	color: black;
	box-shadow:inset 0px 0px 0px 1px black;
	height: 100px;
	width: 25px;
	padding-top: 5px;
}

.white-key.piano-key-active {
	background-color: red !important;
	color: white;
}

.black-key-container {
	height: 100px;
	width: 0px;
}

.black-key {
	box-shadow:inset 0px 0px 0px 1px black;
	background-color: black;
	color: white;
	height: 70px;
	width: 12px;
	position: relative;
	left: -6px;
	padding-top: 5px;
}

.black-key.piano-key-active {
	background-color: darkred;
	color: white;
}

.piano-key:hover {
	background-color: darkgray !important;
}

.guitar {
	height: 100%;
}

.guitar-string {
	width: 100%;
}

.guitar-fret {
	display: inline-block;
	background-color: burlywood;
	color: grey;
	height: 20px;
	width: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}

.guitar-fret-open {
	background-color: chocolate;
	border-right: 3px solid grey;
}

.guitar-fret-active {
	background-color: red;
}

.guitar-fret:hover {
	background-color: yellow !important;
}

.degree-1 {
	background-color: red;
}

.degree-2 {
	background-color: orange;
}

.degree-3 {
	background-color: yellow;
}

.degree-4 {
	background-color: green;
}

.degree-5 {
	background-color: blue;
}

.degree-6 {
	background-color: indigo;
}

.degree-7 {
	background-color: purple;
}
