* {
	text-align: center;
	font: 15px arial, sans-serif;
}

html {
	background-color: #e6f7ff
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

select {
    color: black;
	background-color: white;
    padding: 5px;
	margin: 5px;
    width: 200px;
    border: 1px solid black;
	vertical-align: middle;
}

button {
	color: white;
	background-color: #339966;
    padding: 5px;
	margin: 5px;
    width: 100px;
    border: 1px solid black;
	vertical-align: middle;
}

#inputContainer {
	
}

.note {
	padding: 10px;
	font-size: 20px;
}