.input-group {
    position: relative;
    display: inline-block;
    width: 500px;
}

.input-group-header {
    background-color: #9E9E9E;
    color: white;
    padding: 5px;
    line-height: 25px;
    height: 25px;
}

.input-group.closed .input-group-header {
    
}

.input-group-header:hover {
    background-color: #757575;
    cursor: pointer;
}

.input-group-content {
    border-top: none;
    position: absolute;
    top: 35px;
    left: 0px;
    width: 500px;
    z-index: 100;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 0px 0px 10px 10px;
    background-color: #BBB;
}

.input-group-header .corner-button {
    background-color: #AAA;
    color: white;
    border-radius: 100px;
}

.input-group-header .corner-button:hover {
    background-color: #FF5A09;
    cursor: pointer;
}