
.input-group {
    position: relative;
    width: 100%;
    display: block;
}

/* header */

.input-group-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #DDD;
    background-color: #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #555;
}

.input-group-header:hover {
    border-left: 1px solid #FF5A09;
    color: #FF5A09;
}

.input-group-icon {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.input-group-title {
    display: inline-block;
}

.input-group-header:hover .input-group-title {
    color: white;
}

.input-group-status {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* content */

.input-group-content-preview-header {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 400px;
    height: 50px;
    z-index: 100;
    box-shadow: 2px 2px 5px #888;
    background-color: #333;
    color: white;
}

.input-group-content-preview {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    z-index: 100;
    box-shadow: 2px 2px 5px #888;
    background-color: #444;
}

.input-group-content {
    position: relative;
    width: 450px;
    background-color: #444;
    cursor: auto;
}