.box-selector {
    color: white;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #30336b;
    border-radius: 5px;
    padding-top: 2px;
    margin: 5px;
    position: relative;
}

.box-selector-label {
    color: #30336b;
    background-color: #c7ecee;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: -13px;
    left: 3px;
    padding: 2px;
    margin: 2px;
}

.box-selector-option {
    display: inline-block;
    background-color: #22a6b3;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 7px;
    line-height: 20px;
    height: 20px;
    min-width: 20px;
    font-size: 12px;
}

.box-selector-option:hover {
    background-color: #30336b;
    cursor: pointer;
}

.active-setting {
    border: 2px solid #30336b;
    margin: 5px;
}