
.input-subrow {

}

.input-group-main {

}

.input-group-details {

}

.input-subrow-toggle {
    float: right;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
}

.input-subrow-toggle:hover {
    color: #555;
}
