.input-subrow {
    text-align: center;
}

.input-subrow-details {
    text-align: center;
}

.input-subrow-toggle {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.input-subrow-toggle:hover {
    color: #555;
}
