.controls-container {
	background-color: #DDD;
	margin: 10px;
    padding: 5px;
	border-radius: 10px;
	display: inline-block;
}

.controls-container-header {
	font-size: 16px;
}

.controls-container-label {
    font-size: 12px;
    width: 100px;
    text-align: right;
    display: inline-block;
}