* {
	font-family: sans-serif;
}

html, body {
	margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #555;
}

#app {
	text-align: center;
}