#view-manager {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: scroll;
    margin-left: 50px
}

.view-driver {
    text-align: center;
    position: relative;
}

/* Header */

.view-driver-header {
    margin-top: 5px;
    height: 25px;
    padding: 10px;
}

.view-driver-header .center {
    font-weight: bold;
    color: #777;
}

.view-driver-header .right {
    top: 10px;
}

.view-driver-header .corner-button {
    background-color: white;
    color: #777;
    border: 1px solid #777;
    display: inline-block;
    margin-left: 5px;
}

.view-driver-header .corner-button:hover {
    background-color: #FF5A09;
    color: white;
    cursor: pointer;
}

/* Body */

.view-driver-body-wrapper {
    margin-bottom: 5px;
}

.view-driver-body {
    padding: 10px;
}


/* Selector */

.view-driver-selector {
    text-align: center;
    background-color: #BBB;
    color: white;
    margin-top: 5px;
    font-size: 14px;
    min-height: 2px
}

.view-driver-selector span{
    display: none;
    padding: 5px;
    font-weight: bold;
}

.view-driver-selector:hover {
    min-height: 10px;
    cursor: pointer;
}

.view-driver-selector:hover span{
    display: inline-block;
}