.toolbar {
	background-color: #444;
    text-align: center;
    height: 50px;
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 100;
    box-shadow: 2px 2px 5px #888888;
}