.input-row {
    text-align: center;
}

.input-row-details {
    text-align: center;
}

.input-row-toggle {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.input-row-toggle:hover {
    color: #555;
}
