
.input-group {
    background-color: #DDD;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

/* header */

.input-group-header {
    
}

.input-group-header-icon {
    display: inline-block;
    float: left;
}

.input-group-header-name {
    display: inline-block;
}

/* content */

.input-group-content {

}