.piano {
	height: 100%;
	padding: 20px;
	display: inline-block;
	position: absolute;
	left: 0;
	font-size: 12px;
}

.piano-key {
	display: inline-block;
	vertical-align: top;
}

.piano-key:hover {
	cursor: pointer;
}

.white-key {
	background-color: white;
	color: black;
	box-shadow:inset 0px 0px 0px 1px black;
	height: 100px;
	width: 25px;
	padding-top: 5px;
}

.black-key-container {
	height: 100px;
	width: 0px;
}

.black-key {
	box-shadow:inset 0px 0px 0px 1px black;
	background-color: black;
	color: white;
	height: 70px;
	width: 12px;
	position: relative;
	left: -6px;
	padding-top: 5px;
}

.piano-key:hover {
	background-color: darkgray !important;
}