.box-selector {
    color: white;
    font-size: 12px;
    text-align: center;
    position: relative;
    padding: 5px;
}

.box-selector-label {
    
}

.box-selector-option {
    display: inline-block;
    background-color: #777;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 7px;
    line-height: 20px;
    height: 20px;
    min-width: 20px;
    font-size: 12px;
    border-radius: 5px;
}

.box-selector-option:hover {
    background-color: #FF5A09;
    cursor: pointer;
}

.active-setting {
    border: 2px solid #FF5A09;
    margin: 5px;
}