/* Guitar */

.guitar {
	margin: 20px;
    font-size: 12px;
    display: inline-block;
	box-shadow: 1px 1px 5px #888888;
	position: relative;
}

/* GuitarString */

.guitar-string {
	width: 100%;
	height: 20px;
	position: relative;
}

/* GuitarFret */

.guitar-fret {
	display: inline-block;
	position: relative;
	height: 20px;
	width: 30px;
	border-right: 2px solid darkgrey;
}

.guitar-fret:hover {
	cursor: pointer;
	background-color: grey !important;
}

.guitar-fret-open {
	border-right: 3px solid grey;
}

.guitar-fret-label {
	display: inline-block;
    z-index: 10;
    position: absolute;
    left: 1px;
    top: 1px;
    height: 18px;
    line-height: 18px;
	width: 28px;
	border-radius: 5px;
}

.guitar-fret-label:hover {
	background-color: grey !important;
}

.guitar-fret-string {
	position: absolute;
    top: 10px;
    left: 0px;
    height: 1px;
    background-color: grey;
    width: 100%;
}

.dots-container {
	position: absolute;
    display: inline-block;
    bottom: -16px;
    left: 0px;
    height: 16px;
}

.guitar-fret-dots {
    width: 30px;
	color: grey;
	display: inline-block;
	margin: 1px;
	font-size: 16px;
}

/* Colors */

.wood {
	background-color: burlywood;
	color: black;
}

/* String Controls */

.string-controls {
	display: inline-block;
	height: 80px;
	width: 20px;
	position: relative;
}

.string-button {
	height: 20px;
	width: 20px;
	line-height: 20px;
	font-size: 18px;
	visibility: hidden;
	position: absolute;
	background-color: #DDD;
	color: black;
	z-index: 20;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.string-button:hover {
	color: #FF5A09;
	cursor: pointer;
}

.string-button.name {
	color: black;
	cursor: auto;
	visibility: visible;
	font-weight: normal;
	top: 20px;
    font-size: 12px;
}

.string-button.insert {
	top: 20px;
}

.string-button.tune-up {
	top: 0px;
}

.string-button.tune-down {
	top: 40px;
}

.string-button.remove {
	top: 60px;
}

.string-controls:hover .string-button {
	visibility: visible;
}

.input-wrapper:hover .string-button.insert {
	visibility: visible;
}

.tuner-string {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 9px;
	border-right: 1px solid grey;
	z-index: 10;
}

/* Config */

.guitar-config-panel {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 2px;
}

.string-config-panel {
	grid-area: auto / auto / auto / span 2;
}

.string-config-panel span {
	font-size: 12px;
	width: 100px;
	margin-bottom: 2px;
	font-weight: bold;
}

.string-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 2px;
}

.string-row div {
	width: 100px;
	font-size: 14px;
}