#key-selector-container {
	display: inline-block;
}

#master-concept-selector-container {
	display: inline-block;
}

#toolbar {
	background-color: #BDBDBD;
    text-align: center;
    width: 25%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: scroll;
}