#view-manager {
    background-color: #EEEEEE;
    width: 75%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: scroll;
}

.view-driver {
    text-align: center;
    position: relative;
}

.view-driver-header {
    background-color: #AAA;
    margin-top: 5px;
    height: 25px;
    padding: 10px;
}

.view-driver-header .corner-button {
    background-color: #BBB;
    color: white;
    position: absolute;
    top: 10px;
}

.view-driver-header .corner-button:hover {
    background-color: #FF5A09;
    color: white;
    cursor: pointer;
}

.view-driver-body-wrapper {
    margin-bottom: 5px;
    background-color: #AAA;
}

.view-driver-body {
    background-color: #CCC;
    padding: 10px;
}

.view-driver-header .center {
    font-weight: bold;
    color: white;
}

.view-driver-selector {
    text-align: center;
    background-color: #EEE;
    color: white;
    margin-top: 5px;
    font-size: 14px;
    min-height: 5px
}

.view-driver-selector span{
    display: none;
    padding: 5px;
    font-weight: bold;
}

.view-driver-selector:hover {
    color: #FF5A09;
    background-color: #CCC;
    min-height: 10px;
    cursor: pointer;
}

.view-driver-selector:hover span{
    display: inline-block;
}