/* Fretboard */

.fretboard {
	display: inline-block;
    font-size: 12px;
    margin: 20px;
    text-align: center;
    font-family: sans-serif;
    display: inline-grid;
    width: 75%;
}

/* FretboardString */

.fretboard-string {
	width: 100%;
	height: 20px;
	position: relative;
}

/* FretboardFret */

.fretboard-fret {
	border-right: 2px solid darkgrey;
	position: relative;
}

.fretboard-fret-string {
	background-color: grey;
	height: 1px;
	margin-top: calc(.5 * 2/3 * 100%);
	margin-bottom: calc(.5 * 2/3 * 100%);
}

.fretboard-fret-open {
	border-right: 3px solid grey;
}

.fretboard-fret-label {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border-radius: 5px;
}

.fretboard-fret-label div {
	line-height: 0;
    position: absolute;
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-top: calc(.5 * 2/3 * 100%);
    margin-bottom: calc(.5 * 2/3 * 100%);
}

/* Fret Numbers */

.fret-number {
	color: grey;
	margin: 1px;
}

/* Fret Dots */

.fretboard-fret-dots {
	color: grey;
	margin: 1px;
	font-size: 16px;
}

.fretboard-fret-dots div, .fret-number div {
	
}

/* Colors */

.wood {
	background-color: burlywood;
	color: black;
}