/* Fretboard */

.fretboard {
	display: inline-block;
	display: inline-grid;
	width: 100%;
	min-width: 100px;
	max-width: 400px;

	background-image: radial-gradient(ellipse, #E8DBB8 0%, #D0B27C 100%);

    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
    
	margin-top: 20px;
    margin-bottom: 20px;
}

/* Fret */

.fretboard-fret {
	display: inline-flex;
    justify-content: center;
    align-items: center;

	position: relative;

	border-right: 2px solid darkgrey;
}

.fretboard-fret.open {
	border-right: 3px solid grey;
}

/* Used to maintain aspect ratio */
.fretboard-fret::before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	margin-top: calc(1/2 * 100%);
}

/* Fret String */

.fretboard-fret-string {
	background-color: grey;
	height: 1px;
	width: 100%;
}

/* Fret Label */

.fretboard-fret-label {
    position: absolute;
    width: 90%;
	height: 90%;
	
    display: flex;
    justify-content: center;
	align-items: center;

	border-radius: 100%;
}

/* Fret Numbers */

.fret-number {
	position: absolute;
	bottom: 105%;

	color: grey;
}

/* Fret Dots */

.fret-dots {
	position: absolute;
	top: 100%;

	font-size: 16px;
	white-space: nowrap;

	color: grey;
}