.interval-selector table {
  margin: auto;
  background: #AAA;
}
  
.interval-selector td {
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  width: 32px;
  cursor: pointer;
}

.interval-selector td.inactive {
  background-color: #EEE;
  cursor: normal;
}

.interval-selector td.selected {
  background-color: white;
  color: red;
  font-weight: bold;
}