

.numeric-selector {
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  color: white;
}

.numeric-selector .up, .numeric-selector .down, .numeric-selector .value {
  display: inline-block;
  margin-left: 2px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  border-radius: 2px;
  vertical-align: top;

  -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.numeric-selector .up, .numeric-selector .down {
  background-color: #AAA;
}

.numeric-selector .value {
  font-weight: bold;
  background-color: #888;
}

.numeric-selector .up:hover, .numeric-selector .down:hover {
  background-color: #777;
  cursor: pointer;
}