

.numeric-selector {
  display: inline-block;
  font-size: 14px;
}

.numeric-selector .up, .numeric-selector .down, .numeric-selector .value{
  display: inline-block;
  margin: 2px;

  -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}


.numeric-selector .up:hover, .numeric-selector .down:hover{
  font-weight: bold;
}
