* {
	text-align: center;
	font: 15px arial, sans-serif;
}

html {
	background-color: #e6f7ff
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.group-label {
	font-weight: bold;
	padding: 5px;
}

.degree-0 {
	background-color: white;
	color: grey;
}

.degree-1 {
	background-color: red;
	color: white;
}

.degree-2 {
	background-color: orange;
	color: white;
}

.degree-3 {
	background-color: yellow;
}

.degree-4 {
	background-color: green;
	color: white;
}

.degree-5 {
	background-color: blue;
	color: white;
}

.degree-6 {
	background-color: indigo;
	color: white;
}

.degree-7 {
	background-color: purple;
	color: white;
}
