* {
	text-align: center;
	font: 15px arial, sans-serif;
}

html {
	background-color: #e6f7ff
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.group-label {
	font-weight: bold;
	padding: 5px;
}

.degree-0 {
	background-color: white;
	color: grey;
}

.degree-1 {
	background-color: red;
	color: white;
}

.degree-2 {
	background-color: orange;
	color: white;
}

.degree-3 {
	background-color: yellow;
}

.degree-4 {
	background-color: green;
	color: white;
}

.degree-5 {
	background-color: blue;
	color: white;
}

.degree-6 {
	background-color: indigo;
	color: white;
}

.degree-7 {
	background-color: purple;
	color: white;
}

.degree-8 {
	background-color: lightcoral;
	color: black;
}

.degree-9 {
	background-color: lightsalmon;
	color: black;
}

.degree-10 {
	background-color: lightyellow;
	color: black;
}

.degree-11 {
	background-color: lightgreen;
	color: black;
}

.degree-12 {
	background-color: lightblue;
	color: black;
}

.degree-13 {
	background-color: lightsteelblue;
	color: black;
}

.degree-14 {
	background-color: lightpink;
	color: black;
}
