.config-panel {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background: #DDD;
}

.config-panel-input {
    margin: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}

.config-panel-input-label {
	font-size: 12px;
    text-align: right;
    line-height: 20px;
}

.config-panel-input-contents {
    display: inline-block;
    text-align: left;
}