.char-button {
    display: inline-block;
    background-color: #888;
    color: white;
    margin-left: 2px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    font-size: 12px;
    border-radius: 2px;
    vertical-align: top;

    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.char-button:hover {
    background-color: #777;
    cursor: pointer;
}

.char-button.active {
    background-color: #FF5A09;
}

.char-button.readonly {
    cursor: normal;
    background-color: #888;
}