/* Keyboard */

.keyboard {
	display: inline-block;
	width: 100%;
	min-width: 100px;
	max-width: 400px;

    font-size: 12px;
	text-align: center;
	font-family: sans-serif;
	
	margin-top: 20px;
    margin-bottom: 20px;
}

/* Key Container */

.white-key-container {
	display: inline-block;
}

.black-key-container {
	display: inline-block;
	width: 0px;
}

/* Key */

.keyboard-key {
	display: inline-block;
	vertical-align: top;
	position: relative;
	display: inline-flex;
	justify-content: center;
	box-shadow: 0 0 1px 1px black inset;
}

.white-key {
    border-radius: 0 0 5% 5%;
}

.black-key {
	z-index: 10;
    border-radius: 0 0 10% 10%;
}

/* Label */

.white-key .keyboard-key-label {
	position: absolute;
    bottom: 5%;
}

.black-key .keyboard-key-label {
	bottom: 105%;
	position: absolute;
	color: black;
}

/* Colors (applied only in absence of degree class) */

.white {
	background-color: white;
    color: black;
}

.black {
	background-color: black;
	color: white;
}