/* Keyboard */

.keyboard {
	display: inline-block;
    font-size: 12px;
	margin: 20px;
	text-align: center;
	font-family: sans-serif;
	width: 75%;
}

/* KeyboardKey */

/* Container */

.keyboard-key-container {
	display: inline-block;
}

.keyboard-key-container.black {
	width: 0px;
}

/* Key */

.keyboard-key {
	display: inline-block;
	vertical-align: top;
	box-shadow:inset 0px 0px 0px 1px black;
	position: relative;
	display: inline-flex;
    justify-content: center;
}

.keyboard-key-container.white .keyboard-key {

}

.keyboard-key-container.black .keyboard-key {
	z-index: 10;
}

/* Label */

.keyboard-key-label {
	
}

.keyboard-key-container.white .keyboard-key .keyboard-key-label {
	position: absolute;
    bottom: 5%;
}

.keyboard-key-container.black .keyboard-key-label {
	bottom: 105%;
	position: absolute;
	color: black;
}

/* Colors */

.black {
	background-color: black;
	color: white;
}

.white {
	background-color: white;
	color: black;
}