/* Keyboard */

.keyboard {
	display: inline-block;
    font-size: 12px;
	text-align: center;
	font-family: sans-serif;
	width: 100%;
	min-width: 100px;
	max-width: 400px;
	margin-top: 20px;
    margin-bottom: 20px;
}

/* KeyboardKey */

/* Container */

.white-key-container {
	display: inline-block;
}

.black-key-container {
	display: inline-block;
	width: 0px;
}

/* Key */

.keyboard-key {
	display: inline-block;
	vertical-align: top;
	position: relative;
	display: inline-flex;
    justify-content: center;
}

.white {
	background-color: white;
    color: black;
}

.white-key {
	
    box-shadow: 0 0 2px 0px black inset;
    border-radius: 0 0 5% 5%;
}

.black {
	background-color: black;
	color: white;
}

.black-key {
	z-index: 10;
	box-shadow: 0 -3px 3px 3px #666 inset;
    border-radius: 0 0 10% 10%;
}

/* Label */

.keyboard-key-label {
	
}

.white-key .keyboard-key-label {
	position: absolute;
    bottom: 5%;
}

.black-key .keyboard-key-label {
	bottom: 105%;
	position: absolute;
	color: black;
}