.input-row {

}

.input-row-main {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: flex-start;
}

.input-row-toggle {
    width: 60px !important;
    border-radius: 5px;
    margin-top: 16px;
}

.input-subrow {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background: #DDD;
}