.input-group {
    margin: 5px;
    position: relative;
}

.input-group-header {
    background-color: #9E9E9E;
    color: white;
    padding: 5px;
    line-height: 25px;
    height: 25px;
    border-radius: 10px 10px 0px 0px;
}

.input-group.closed .input-group-header {
    border-radius: 10px 10px 10px 10px;
}

.input-group-header:hover {
    background-color: #757575;
    cursor: pointer;
}

.input-group-content {
    background-color: #BDBDBD;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid #9E9E9E;
    border-top: none;
}

.input-group-header .corner-button {
    background-color: #AAA;
    color: white;
    border-radius: 100px;
}

.input-group-header .corner-button:hover {
    background-color: #FF5A09;
    cursor: pointer;
}