
.input-group {
   display: inline-block;
}

.input-group-label {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.input-group-content {
    display: inline-block;
}

.input-group-item {
    margin: 5px;
    display: inline-block;
    font-size: 14px;
}