/* Piano */

.piano {
	margin: 20px;
    display: inline-block;
    font-size: 12px;
    box-shadow: 2px 2px 5px #888888;
}

/* PianoKey */

/* Container */

.piano-key-container {
	display: inline-block;
	height: 100px;
}

.piano-key-container-black {
	width: 0px;
}

/* Key */

.piano-key {
	display: inline-block;
	vertical-align: top;
	box-shadow:inset 0px 0px 0px 1px black;
	position: relative;
}

.piano-key:hover {
	cursor: pointer;
	background-color: darkgray !important;
}

.piano-key-container-white .piano-key {
	height: 100px;
	width: 25px;
}

.piano-key-container-black .piano-key {
	height: 70px;
	width: 12px;
	position: relative;
	left: -6px;
	z-index: 10;
}

/* Label */

.piano-key-label {
	position: absolute;
	width: 25px;
	height: 25px;
    line-height: 25px;
}

.piano-key-container-white .piano-key-label {
	bottom: 2px;
	left: 0px;
}

.piano-key-container-black .piano-key-label {
	top: -25px;
	left: -6px;
	color: black;
}

/* Colors */

.black {
	background-color: black;
	color: white;
}

.white {
	background-color: white;
	color: black;
}

/* Config */

.piano-config-panel {
	display: grid;
	grid-template-columns: auto auto;
}