/* Keyboard */

.keyboard {
	display: inline-block;
    font-size: 12px;
	/*box-shadow: 2px 2px 5px #888888;*/
	margin: 20px;
}

/* KeyboardKey */

/* Container */

.keyboard-key-container {
	display: inline-block;
	height: 100px;
}

.keyboard-key-container-black {
	width: 0px;
}

/* Key */

.keyboard-key {
	display: inline-block;
	vertical-align: top;
	box-shadow:inset 0px 0px 0px 1px black;
	position: relative;
}

.keyboard-key:hover {
	cursor: pointer;
	background-color: darkgray !important;
}

.keyboard-key-container-white .keyboard-key {
	height: 100px;
	width: 25px;
}

.keyboard-key-container-black .keyboard-key {
	height: 70px;
	width: 12px;
	position: relative;
	left: -6px;
	z-index: 10;
}

/* Label */

.keyboard-key-label {
	position: absolute;
	width: 25px;
	height: 25px;
    line-height: 25px;
}

.keyboard-key-container-white .keyboard-key-label {
	bottom: 2px;
	left: 0px;
}

.keyboard-key-container-black .keyboard-key-label {
	top: -25px;
	left: -6px;
	color: black;
}

/* Colors */

.black {
	background-color: black;
	color: white;
}

.white {
	background-color: white;
	color: black;
}