#notesContainer {
	padding: 15px;
}

.speaker-icon {
	cursor: pointer;
}

.note {
	padding: 5px;
	height: 40px;
	width: 60px;
	font-size: 12px;
	display: inline-block;
	position: relative;
	margin: 3px;
	border: 1px solid black;
	box-shadow: 2px 2px 5px #888888;
}

.note-row {
	display: block;
}

.note-row-mid {
	position: relative;
    top: 10px;
}

.note:hover {
	cursor: pointer;
	background-color: darkgray !important;
}

.note-name {
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
}

.note-octave {
	display: inline-block;
	margin: 3px;
}

.note-relative-position {
	display: inline-block;
	position: absolute;
	left: 3px;
	top: 3px;
}

.note-absolute-position {
	display: inline-block;
	position: absolute;
	right: 3px;
	top: 3px;
}

.note-interval {
	display: inline-block;
	position: absolute;
	left: 3px;
	bottom: 3px;
}

.note-frequency {
	display: inline-block;
	position: absolute;
	font-size: 12px;
	right: 3px;
	bottom: 3px;
}

#note-display-container {
	text-align: center;
	vertical-align: middle;
	margin: 5px;
}