.input-panel {
    background-color: #EEEEEE;
    width: 500px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px #888;
}

/* Header */

.input-panel-header {
    font-weight: bold;
    background-color: #CCC;
    padding: 5px;
}

.input-panel .cell {
    display: inline-block;
    width: 25%;
}

.input-panel .cell select {
    width: 90%;
}

/* Content */

.input-panel-content-row {
    background-color: #DDD;
    padding: 5px;
}

.input-panel-content-row.add {
    color: #777;
    font-weight: bold;
    cursor: pointer;
}

.input-panel-content-row.add:hover {
    background-color: #CCC;
    color: #555;
}

/* Concept */

.input-panel-content-row {
    background-color: #DDD;
    padding: 5px;
}