#key-selector-container {
	display: inline-block;
}

#master-concept-selector-container {
	display: inline-block;
}

#toolbar {
	background-color: #2B4C5F;
    text-align: center;
}

* {
	font-family: sans-serif;
}

html, body {
	background-color: lightslategray;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

#page-title {
	font-size: 20px;
	color: white;
}

/* Home Degrees */

.homeDegree-C {
	background-color: red;
	color: white;
}

.homeDegree-D {
	background-color: orange;
	color: white;
}

.homeDegree-E {
	background-color: yellow;
	color: black;
}

.homeDegree-F {
	background-color: green;
	color: white;
}

.homeDegree-G {
	background-color: blue;
	color: white;
}

.homeDegree-A {
	background-color: indigo;
	color: white;
}

.homeDegree-B {
	background-color: purple;
	color: white;
}

/* Accidentals */

.accidental-Flat {
	background-color: darkred;
	color: white;
}

.accidental-Natural {
	background-color: darkred;
	color: white;
}

.accidental-Sharp {
	background-color: darkred;
	color: white;
}

/* Accidentals */

.concept-interval {
	background-color: darkolivegreen;
	color: white;
}

.concept-chord {
	background-color: darkolivegreen;
	color: white;
}

.concept-scale {
	background-color: darkolivegreen;
	color: white;
}

.concept-mode {
	background-color: darkolivegreen;
	color: white;
}

.concept-romanNumeral {
	background-color: darkolivegreen;
	color: white;
}

/* Degrees */

.degree-0 {
	background-color: white;
	color: grey;
}

.degree-1 {
	background-color: red;
	color: white;
}

.degree-2 {
	background-color: orange;
	color: white;
}

.degree-3 {
	background-color: yellow;
	color: black;
}

.degree-4 {
	background-color: green;
	color: white;
}

.degree-5 {
	background-color: blue;
	color: white;
}

.degree-6 {
	background-color: indigo;
	color: white;
}

.degree-7 {
	background-color: purple;
	color: white;
}

.degree-9 {
	background-color: lightsalmon;
	color: black;
}

.degree-11 {
	background-color: lightgreen;
	color: black;
}

.degree-13 {
	background-color: lightsteelblue;
	color: black;
}
