* {
	font-family: sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

#header {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 10%;
	background-color: #22a6b3;
	color: #30336b;
}

/* Degrees */

.degree-0 {
	background-color: white;
	color: grey;
}

.degree-1 {
	background-color: red;
	color: white;
}

.degree-2 {
	background-color: orange;
	color: white;
}

.degree-3 {
	background-color: yellow;
	color: black;
}

.degree-4 {
	background-color: green;
	color: white;
}

.degree-5 {
	background-color: blue;
	color: white;
}

.degree-6 {
	background-color: indigo;
	color: white;
}

.degree-7 {
	background-color: purple;
	color: white;
}

.degree-9 {
	background-color: lightsalmon;
	color: black;
}

.degree-11 {
	background-color: lightgreen;
	color: black;
}

.degree-13 {
	background-color: lightsteelblue;
	color: black;
}
