.degree-1 {
	background-color: #E6194B;
	color: white;
}

.degree-2 {
	background-color: #F58231;
	color: white;
}

.degree-3 {
	background-color: #FFE119;
	color: black;
}

.degree-4 {
	background-color: #3CB44B;
	color: white;
}

.degree-5 {
	background-color: #4363D8;
	color: white;
}

.degree-6 {
	background-color: #911DB4;
	color: white;
}

.degree-7 {
	background-color: #F032E6;
	color: white;
}



.error-boundary {
	color: red;
}