button {
	color: white;
	background-color: #339966;
    padding: 5px;
	margin: 5px;
    width: 100px;
    border: 1px solid black;
	vertical-align: middle;
}

select {
    color: black;
	background-color: white;
    padding: 5px;
	margin: 5px;
    border: 1px solid black;
	vertical-align: middle;
}

#input-degree {
	width: 100px;
}

#input-accidental {
	width: 100px;
}

#input-concept {
	width: 200px;
}

#input-chord {
	width: 200px;
}

#input-mode {
	width: 200px;
}