.switch-input {
  display: inline-block;
}

.switch-shell {
  height: 20px;
  background-color: #999;
  border-radius: 100px;
  position: relative;
  width: 40px;
  cursor: pointer;
}

.switch-input.on .switch-shell {
  background-color: #FF5A09;
}

.switch-ball {
  height: 16px;
  width: 16px;
  margin: 2px;
  background-color: #EEE;
  border-radius: 100px;
  position: absolute;
}

.switch-input.off .switch-ball {
  left: 0;
}

.switch-input.on .switch-ball {
  right: 0;
}